.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  width: auto;
  height: auto;
  color: #2D5A4B;
}
.motivation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  width: 80%;
  margin: 80px auto;
}
.motivation-text {
  flex: 1;
  color: #2D5A4B;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.motivation-text h1 {
  margin: 0;
  font-weight: bold;
}
.motivation-text p {
  margin: 0;
  font-size: 20px;
}
.motivation-text span {
  position: relative;
  z-index: 1;
  font-weight: bold;
}
.motivation-text span::before {
  content: "";
  position: absolute;
  left: -4px;
  right: -4px;
  bottom: 2px;
  height: 40%;
  background-color: #f5d4c1;
  z-index: -1;
  border-radius: 3px;
}
.motivation img {
  flex: 1;
  border-radius: 15px;
  object-fit: cover;
  width: 600px;
  height: 400px;
}
.hero button {
  background-color: #2D5A4B;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  height: 40px;
  text-shadow: 0px 0px 1px white;
  cursor: pointer;
  width: 130px;
  margin-bottom: 60px;
}
.hero p {
  margin: 0;
}
.hero span {
  position: relative;
  z-index: 1;
}
.hero span::before {
  content: "";
  position: absolute;
  left: -4px;
  right: -4px;
  bottom: 2px;
  height: 40%;
  background-color: #f5d4c1;
  z-index: -1;
  border-radius: 3px;
}
.hero h1 {
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;
}
.hero #pusher {
  margin-top: 5px;
  margin-bottom: 30px;
}
.picture {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.picture img:not(.wave-bg-left):not(.wave-bg-right) {
  border-radius: 15px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.wave-bg-left {
  position: absolute;
  left: -60px;
  top: 0;
  z-index: -1;
  width: 140px;
  transform: rotate(70deg);
}
.wave-bg-right {
  position: absolute;
  right: -60px;
  top: -90%;
  z-index: -1;
  width: 140px;
  height: 800px;
  transform: rotate(-140deg);
}
.adds-unic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
  margin: 60px auto 0 auto;
  font-size: 20px;
}
.adds-container-unic {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}
.adds-unic h1 {
  margin: 0;
  color: #2D5A4B;
}
.adds-container-unic .topic {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  align-items: flex-start;
}
.topic h2, p {
  color: #2D5A4B;
  margin: 0;
}
.icon-badge {
  width: 40px !important;
  height: 40px !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.icon-badge.orange { 
  background-color: rgb(245, 245, 230); 
  color: #E07840; 
}
.icon-badge.green { 
  background-color: #d6ece4; 
  color: #2D5A4B; 
  margin-left: -10px;
  border-radius: 10px;
  margin-bottom: 0;
}
.icon-badge.purple { 
  background-color: #e3e0f7; 
  color: #6c5ce7; 
}